.continer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: column;
}
.button-status:hover{
    cursor: pointer;
}
.counter{
    display: flex;
    flex-direction: column;
}
.button-counter:hover{
    cursor: pointer;
}